/**
 * @name No Titlebar
 * @author KCK
 * @authorId 634168893644210186
 * @authorLink https://github.com/kckarnige
 * @website https://github.com/kckarnige/notitlebar-theme
 * @version 1.1.2
 * @description A (sorta) blast from the past.
 * @donate https://ko-fi.com/kckarnige
 * @updateUrl https://raw.githubusercontent.com/kckarnige/notitlebar-theme/main/classicTitlebar.theme.css
**/
.platform-win:not(:has([legcord-platform])) nav[class*="guilds_"] [class*="scroller_"],
.platform-linux:not(:has([legcord-platform])) nav[class*="guilds_"] [class*="scroller_"] {
  padding-top: 12px;
}
.platform-win:not(:has([legcord-platform])) [class*="withFrame_"][class*="titleBar_"],
.platform-linux:not(:has([legcord-platform])) [class*="withFrame_"][class*="titleBar_"] {
  height: 0%;
  margin-top: 0px;
  position: absolute;
  right: 0;
  float: right;
}
.platform-win:not(:has([legcord-platform]))
  [class*="withFrame_"][class*="titleBar_"]
  > [class*="wordmark_"],
.platform-linux:not(:has([legcord-platform]))
  [class*="withFrame_"][class*="titleBar_"]
  > [class*="wordmark_"] {
  display: none;
}
.platform-win:not(:has([legcord-platform]))
  [class*="withFrame_"][class*="titleBar_"]
  > [class*="winButton_"],
.platform-linux:not(:has([legcord-platform]))
  [class*="withFrame_"][class*="titleBar_"]
  > [class*="winButton_"] {
  width: 40px;
  height: 52px;
  z-index: 100;
}
.platform-win:not(:has([legcord-platform])) [class*="withFrame_"][class*="titleBar_"]:before,
.platform-linux:not(:has([legcord-platform])) [class*="withFrame_"][class*="titleBar_"]:before {
  width: calc(100vw - 384px);
  height: 48px;
  background: transparent;
  opacity: 0.2;
  content: " ";
  -webkit-app-region: drag;
  pointer-events: none;
  position: absolute;
}
.platform-win:not(:has([legcord-platform])) [class*="content_"] [class*="sidebar_"],
.platform-linux:not(:has([legcord-platform])) [class*="content_"] [class*="sidebar_"] {
  border-radius: 0;
}
.platform-win:not(:has([legcord-platform]))
  [class*="standardSidebarView_"]
  [class*="contentColumnDefault_"],
.platform-win:not(:has([legcord-platform]))
  [class*="standardSidebarView_"]
  [class*="contentColumnWide_"],
.platform-linux:not(:has([legcord-platform]))
  [class*="standardSidebarView_"]
  [class*="contentColumnDefault_"],
.platform-linux:not(:has([legcord-platform]))
  [class*="standardSidebarView_"]
  [class*="contentColumnWide_"] {
  padding: 20px 40px 80px;
}
.platform-win:not(:has([legcord-platform])) [class*="topicClickTarget_"],
.platform-win:not(:has([legcord-platform])) [class*="notice_"],
.platform-linux:not(:has([legcord-platform])) [class*="topicClickTarget_"],
.platform-linux:not(:has([legcord-platform])) [class*="notice_"] {
  height: 48px;
  line-height: 48px;
}
.platform-win:not(:has([legcord-platform])) [class*="topicClickTarget_"] button,
.platform-win:not(:has([legcord-platform])) [class*="notice_"] button,
.platform-linux:not(:has([legcord-platform])) [class*="topicClickTarget_"] button,
.platform-linux:not(:has([legcord-platform])) [class*="notice_"] button {
  -webkit-app-region: none;
  transform: translateY(-12px);
  margin-top: 12px;
  top: 12px;
  margin-bottom: 12px;
  bottom: 12px;
}
.platform-win:not(:has([legcord-platform])) [class*="topicClickTarget_"] button[class*="back_"],
.platform-win:not(:has([legcord-platform])) [class*="notice_"] button[class*="back_"],
.platform-linux:not(:has([legcord-platform])) [class*="topicClickTarget_"] button[class*="back_"],
.platform-linux:not(:has([legcord-platform])) [class*="notice_"] button[class*="back_"] {
  transform: translateY(-6px);
}
.platform-win:not(:has([legcord-platform])) [class*="topicClickTarget_"] [class*="closeButton_"],
.platform-win:not(:has([legcord-platform])) [class*="notice_"] [class*="closeButton_"],
.platform-linux:not(:has([legcord-platform])) [class*="topicClickTarget_"] [class*="closeButton_"],
.platform-linux:not(:has([legcord-platform])) [class*="notice_"] [class*="closeButton_"] {
  top: 5px;
  margin-right: 280px;
}
.platform-win:not(:has([legcord-platform])) [class*="sidebarRegionScroller_"],
.platform-linux:not(:has([legcord-platform])) [class*="sidebarRegionScroller_"] {
  padding-top: 14px;
}
.platform-win:not(:has([legcord-platform]))
  [class*="standardSidebarView_"]
  [class*="contentRegion_"]
  [class*="contentRegionScroller_"],
.platform-linux:not(:has([legcord-platform]))
  [class*="standardSidebarView_"]
  [class*="contentRegion_"]
  [class*="contentRegionScroller_"] {
  padding-top: 18px;
}
.platform-win:not(:has([legcord-platform])) [class*="upperContainer_"] > [class*="toolbar_"],
.platform-linux:not(:has([legcord-platform])) [class*="upperContainer_"] > [class*="toolbar_"] {
  padding-right: 120px;
}
.platform-win:not(:has([legcord-platform]))
  [class*="upperContainer_"]
  > [class*="toolbar_"]
  [type*="button"],
.platform-win:not(:has([legcord-platform]))
  [class*="upperContainer_"]
  > [class*="toolbar_"]
  [role*="button"],
.platform-linux:not(:has([legcord-platform]))
  [class*="upperContainer_"]
  > [class*="toolbar_"]
  [type*="button"],
.platform-linux:not(:has([legcord-platform]))
  [class*="upperContainer_"]
  > [class*="toolbar_"]
  [role*="button"] {
  -webkit-app-region: no-drag;
}
.platform-win:not(:has([legcord-platform]))
  [class*="upperContainer_"]
  > [class*="children_"]
  [type*="button"],
.platform-win:not(:has([legcord-platform]))
  [class*="upperContainer_"]
  > [class*="children_"]
  [role*="button"],
.platform-linux:not(:has([legcord-platform]))
  [class*="upperContainer_"]
  > [class*="children_"]
  [type*="button"],
.platform-linux:not(:has([legcord-platform]))
  [class*="upperContainer_"]
  > [class*="children_"]
  [role*="button"] {
  -webkit-app-region: no-drag;
} /*# sourceMappingURL=classicTitlebar.theme.css.map */
