:root {
    --ntb-winButtonWidth: 32px; //  I personally think this looks best
    --ntb-winButtonHeight: 50px; // Based on the height of the toolbar
}

// Only function if running on desktop Windows or Linux
.platform-win,
.platform-linux {
    $button: ':is(button, [class*="button_"], [type*="button"], [role*="button"], a[href]):not([class*="winButton_"])';

    // Disable if running on Legcord
    &:not(:has([legcord-platform])) {

        // Adjust dragging area for the "Better Folders" Vencord plugin
        :has([class="vc-betterFolders-sidebar"]) {
            [class*=appMount_] {
                [class*=container_] {
                    >[class*=base_] {
                        >[class*=bar_] {
                            &:before {
                                width: calc(100vw - var(--custom-guild-sidebar-width) - (var(--guildbar-avatar-size)* 2) + var(--space-xs));
                            }
                        }
                    }
                }
            }
        }

        [class*=appMount_] {

            // Window buttons for modals (because for some reason two sets of window controls exist?????)
            >[class*=bar_] {
                >[class*=trailing_] {
                    pointer-events: initial;

                    >[class*=winButtons_] {
                        >[class*=winButton_] {
                            margin-top: -3px;
                            width: var(--ntb-winButtonWidth);
                            height: var(--ntb-winButtonHeight);
                        }
                    }
                }
            }

            &:has([class*=chatTarget_][class*=container_][class*=notFloating_]),
            &:has([class*=chatLayerWrapper_]) {

                // Remove toolbar spacing when forum side page is open
                [class*=upperContainer_] {

                    >[class*=toolbar_] {
                        padding-right: 0px !important;
                    }
                }
            }

            [class*=chatLayerWrapper_] {
                >[class*=container_] {
                    >[class*=container_] {
                        >[class*=upperContainer_] {

                            // Flip toolbar in forum sidebar
                            >[class*=toolbar_] {
                                flex-direction: row-reverse;
                                position: absolute !important;
                                float: left;
                                left: 0;

                                >[class*=iconWrapper_] {
                                    width: var(--space-26);
                                }
                            }


                            // Size-down forum sidebar title
                            >[class*=children_] {
                                &:after {
                                    background: linear-gradient(90deg, rgba(54, 57, 63, 0) 0, var(--__header-bar-background));
                                    margin-right: 232px;
                                }

                                >[class*=titleWrapper_] {
                                    max-width: 100%;
                                    padding-right: 232px;

                                    [class*=forumPostTitle_] {
                                        margin-left: calc((var(--space-26)*2) + var(--space-12));
                                    }
                                }
                            }
                        }
                    }
                }
            }

            // Remove original titlebar spacing
            [class*=container_] {
                >[class*=base_] {
                    margin-top: -36px;

                    >[class*=content_] {
                        >[class*=sidebar_] {

                            // Guild bar top spacing
                            >[class*=wrapper_][class*=guilds_] {
                                margin-top: 12px;
                            }
                        }
                    }

                    // Get how many buttons (excluding window controls) are present on the titlebar normally (Toolbar Space: Part 1/2)
                    --btn-count: 1;

                    @for $i from 1 through 8 {
                        &:has(> [class*=bar_] > [class*="trailing_"] > :nth-child(#{$i} of #{$button}):nth-last-child(1 of #{$button})) {
                            --btn-count: #{$i};
                        }
                    }

                    // Move titlebar features to the toolbar and function smoothly with the new draggable area
                    >[class*=bar_] {

                        padding-top: 42px;
                        z-index: 200;
                        height: 0%;
                        position: absolute;
                        right: 0;
                        float: right;
                        pointer-events: none;

                        >[class*=title_] {
                            display: none;
                        }

                        >[class*=trailing_] {
                            pointer-events: initial;
                            gap: var(--space-6);

                            >[class*=winButtons_] {
                                >[class*=winButton_] {
                                    width: var(--ntb-winButtonWidth);
                                    height: var(--ntb-winButtonHeight);
                                }
                            }
                        }

                        // Draggable area in question
                        &:before {
                            right: 0;
                            z-index: 200;
                            width: calc(100vw - var(--custom-guild-sidebar-width));
                            height: 48px;
                            background: transparent; // Change me to see where I am
                            opacity: .2;
                            content: " ";
                            -webkit-app-region: drag;
                            pointer-events: none;
                            position: absolute;
                        }
                    }

                    // Toolbar spacing for titlebar features
                    :not([class*=chatLayerWrapper_]) {
                        [class*=container_] {
                            >[class*=upperContainer_] {

                                // And space the toolbar accordingly (Toolbar Space: Part 2/2)
                                >[class*=toolbar_] {
                                    z-index: 200;
                                    padding-right: calc((var(--ntb-winButtonWidth) * 3) + var(--space-16) + ((var(--space-6) + 2px + var(--space-32))*var(--btn-count)));
                                    position: relative;

                                    >#{$button} {
                                        -webkit-app-region: no-drag;
                                    }
                                }

                                >[class*=children_] {

                                    #{$button} {
                                        -webkit-app-region: no-drag;
                                    }
                                }
                            }
                        }
                    }

                    // Top-side Alerts
                    [class*=topicClickTarget_],
                    [class*=notice_] {
                        height: 48px;
                        line-height: 48px;

                        button {
                            -webkit-app-region: no-drag;
                            transform: translateY(-12px);
                            margin-top: 12px;
                            top: 12px;
                            margin-bottom: 12px;
                            bottom: 12px;

                            &[class*=back_] {
                                transform: translateY(-6px);
                            }
                        }

                        [class*=closeButton_] {
                            top: 5px;
                            margin-right: 280px;
                        }
                    }
                }
            }
        }
    }
}