:root {
  --winButtonWidth: 32px;
  --winButtonHeight: 50px;
}

.platform-win:not(:has([legcord-platform])) :has([class=vc-betterFolders-sidebar]) [class*=appMount_] [class*=container_] > [class*=base_] > [class*=bar_]:before,
.platform-linux:not(:has([legcord-platform])) :has([class=vc-betterFolders-sidebar]) [class*=appMount_] [class*=container_] > [class*=base_] > [class*=bar_]:before {
  width: calc(100vw - var(--custom-guild-sidebar-width) - var(--guildbar-avatar-size) * 2 + var(--space-xs));
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] > [class*=bar_] > [class*=trailing_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] > [class*=bar_] > [class*=trailing_] {
  pointer-events: initial;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] > [class*=bar_] > [class*=trailing_] > [class*=winButtons_] > [class*=winButton_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] > [class*=bar_] > [class*=trailing_] > [class*=winButtons_] > [class*=winButton_] {
  margin-top: -3px;
  width: var(--winButtonWidth);
  height: var(--winButtonHeight);
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_]:has([class*=chatTarget_][class*=container_][class*=notFloating_]) [class*=upperContainer_] > [class*=toolbar_], .platform-win:not(:has([legcord-platform])) [class*=appMount_]:has([class*=chatLayerWrapper_]) [class*=upperContainer_] > [class*=toolbar_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_]:has([class*=chatTarget_][class*=container_][class*=notFloating_]) [class*=upperContainer_] > [class*=toolbar_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_]:has([class*=chatLayerWrapper_]) [class*=upperContainer_] > [class*=toolbar_] {
  padding-right: 0px !important;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=chatLayerWrapper_] [class*=upperContainer_] > [class*=toolbar_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=chatLayerWrapper_] [class*=upperContainer_] > [class*=toolbar_] {
  flex-direction: row-reverse;
  position: absolute;
  float: left;
  left: 0;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=chatLayerWrapper_] [class*=children_]:after,
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=chatLayerWrapper_] [class*=children_]:after {
  background: linear-gradient(90deg, rgba(54, 57, 63, 0) 0, var(--__header-bar-background));
  margin-right: 232px;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=chatLayerWrapper_] [class*=children_] [class*=titleWrapper_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=chatLayerWrapper_] [class*=children_] [class*=titleWrapper_] {
  max-width: 100%;
  padding-right: 232px;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=chatLayerWrapper_] [class*=children_] [class*=titleWrapper_] [class*=forumPostTitle_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=chatLayerWrapper_] [class*=children_] [class*=titleWrapper_] [class*=forumPostTitle_] {
  margin-left: 70px;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] {
  margin-top: -36px;
  --btn-count: 1;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_]:has(> [class*=bar_] > [class*=trailing_] > :nth-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_])):nth-last-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]))),
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_]:has(> [class*=bar_] > [class*=trailing_] > :nth-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_])):nth-last-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]))) {
  --btn-count: 1;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_]:has(> [class*=bar_] > [class*=trailing_] > :nth-child(2 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_])):nth-last-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]))),
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_]:has(> [class*=bar_] > [class*=trailing_] > :nth-child(2 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_])):nth-last-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]))) {
  --btn-count: 2;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_]:has(> [class*=bar_] > [class*=trailing_] > :nth-child(3 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_])):nth-last-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]))),
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_]:has(> [class*=bar_] > [class*=trailing_] > :nth-child(3 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_])):nth-last-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]))) {
  --btn-count: 3;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_]:has(> [class*=bar_] > [class*=trailing_] > :nth-child(4 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_])):nth-last-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]))),
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_]:has(> [class*=bar_] > [class*=trailing_] > :nth-child(4 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_])):nth-last-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]))) {
  --btn-count: 4;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_]:has(> [class*=bar_] > [class*=trailing_] > :nth-child(5 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_])):nth-last-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]))),
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_]:has(> [class*=bar_] > [class*=trailing_] > :nth-child(5 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_])):nth-last-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]))) {
  --btn-count: 5;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_]:has(> [class*=bar_] > [class*=trailing_] > :nth-child(6 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_])):nth-last-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]))),
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_]:has(> [class*=bar_] > [class*=trailing_] > :nth-child(6 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_])):nth-last-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]))) {
  --btn-count: 6;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_]:has(> [class*=bar_] > [class*=trailing_] > :nth-child(7 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_])):nth-last-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]))),
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_]:has(> [class*=bar_] > [class*=trailing_] > :nth-child(7 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_])):nth-last-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]))) {
  --btn-count: 7;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_]:has(> [class*=bar_] > [class*=trailing_] > :nth-child(8 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_])):nth-last-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]))),
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_]:has(> [class*=bar_] > [class*=trailing_] > :nth-child(8 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_])):nth-last-child(1 of :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]))) {
  --btn-count: 8;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] > [class*=bar_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] > [class*=bar_] {
  padding-top: 42px;
  z-index: 200;
  height: 0%;
  position: absolute;
  right: 0;
  float: right;
  pointer-events: none;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] > [class*=bar_] > [class*=title_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] > [class*=bar_] > [class*=title_] {
  display: none;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] > [class*=bar_] > [class*=trailing_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] > [class*=bar_] > [class*=trailing_] {
  pointer-events: initial;
  gap: var(--space-6);
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] > [class*=bar_] > [class*=trailing_] > [class*=winButtons_] > [class*=winButton_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] > [class*=bar_] > [class*=trailing_] > [class*=winButtons_] > [class*=winButton_] {
  width: var(--winButtonWidth);
  height: var(--winButtonHeight);
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] > [class*=bar_]:before,
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] > [class*=bar_]:before {
  right: 0;
  z-index: 200;
  width: calc(100vw - var(--custom-guild-sidebar-width));
  height: 48px;
  background: transparent;
  opacity: 0.2;
  content: " ";
  -webkit-app-region: drag;
  pointer-events: none;
  position: absolute;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] :not([class*=chatLayerWrapper_]) [class*=upperContainer_] > [class*=toolbar_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] :not([class*=chatLayerWrapper_]) [class*=upperContainer_] > [class*=toolbar_] {
  z-index: 200;
  padding-right: calc(var(--winButtonWidth) * 3 + var(--space-16) + (var(--space-6) + 2px + var(--space-32)) * var(--btn-count));
  position: relative;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] :not([class*=chatLayerWrapper_]) [class*=upperContainer_] > [class*=toolbar_] > :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]),
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] :not([class*=chatLayerWrapper_]) [class*=upperContainer_] > [class*=toolbar_] > :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]) {
  -webkit-app-region: no-drag;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] :not([class*=chatLayerWrapper_]) [class*=upperContainer_] > [class*=children_] :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]),
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] :not([class*=chatLayerWrapper_]) [class*=upperContainer_] > [class*=children_] :is(button, [class*=button_], [type*=button], [role*=button], a[href]):not([class*=winButton_]) {
  -webkit-app-region: no-drag;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=wrapper_][class*=guilds_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=wrapper_][class*=guilds_] {
  padding-top: 12px;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=topicClickTarget_],
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=notice_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=topicClickTarget_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=notice_] {
  height: 48px;
  line-height: 48px;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=topicClickTarget_] button,
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=notice_] button,
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=topicClickTarget_] button,
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=notice_] button {
  -webkit-app-region: no-drag;
  transform: translateY(-12px);
  margin-top: 12px;
  top: 12px;
  margin-bottom: 12px;
  bottom: 12px;
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=topicClickTarget_] button[class*=back_],
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=notice_] button[class*=back_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=topicClickTarget_] button[class*=back_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=notice_] button[class*=back_] {
  transform: translateY(-6px);
}
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=topicClickTarget_] [class*=closeButton_],
.platform-win:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=notice_] [class*=closeButton_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=topicClickTarget_] [class*=closeButton_],
.platform-linux:not(:has([legcord-platform])) [class*=appMount_] [class*=container_] > [class*=base_] [class*=notice_] [class*=closeButton_] {
  top: 5px;
  margin-right: 280px;
}/*# sourceMappingURL=classicTitlebar.css.map */